.flex { display: flex!important }
.flex.justifyCenter { justify-content: center!important }
.flex.justifyBetween { justify-content: space-between!important }
.flex.alignCenter { align-items: center!important }
.flex.column { flex-direction: column!important }

section {
    margin: 20px;
}

.fullpageContainer {
    min-height: calc(100vh - 64px);
}

.emotesGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.emotesGrid .emoteImage {
    padding: 20px 20px 0;
}

.responsiveContainer {
    width: 100%;
    max-width: 1200px;
    background: #FFF;
    padding: 40px 20px;
}

.textCenter {
    text-align: center;
}
