header {
  display: flex;
  height: var(--header-height);
  z-index: 1;
  position: relative;
  box-shadow: 0 2px 8px rgb(47, 47, 47, 10%);
  justify-content: space-between;
  padding: 0 20px;
  background: #FFF;
}

.pfp {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 36px;
    height: 36px;
}

nav {
    margin-left: 20px;
    display: flex;
}

.navLink {
    margin: 0 12px;
    display: flex;
    align-items: center;
    position: relative;
    color: var(--primary-color);
}
.navLink:before {
    content: "";
    position: absolute;
    height: 4px;
    top: 0;
    left: 0;
    width: 100%;
    transition: background 300ms linear;
}

.navLink:hover, .navLink.active {
    color: var(--primary-color);
}

.navLink.active {
    font-weight: bold;
}

.navLink:hover:before, .navLink.active:before {
    background: var(--primary-color);
}

nav.mobileNav {
    display: none!important;
}

@media (max-width: 768px) {
    nav.mobileNav {
        display: flex!important;
    }

    nav.nav {
        display: none!important;
    }
}